@model IEnumerable<RecipesMVP.Models.Cuisine>

@{
    ViewBag.Title = "Index";
}

<h2>What Should I Cook? &#129379</h2>

<p class="details">
    @Html.ActionLink("Create New", "Create")
</p>

<h3 class="details">Cuisines</h3>


<div class="details">
    @foreach (var item in Model)
    {
        <div>
            <a href="/Cuisines/Details/@item.CuisineID">@Html.DisplayFor(modelItem => item.CuisineName)</a>
        </div>

    }
</div>
