@model IEnumerable<RecipesMVP.Models.Recipe>

@{
    ViewBag.Title = "Index";
}

<h2>What Should I Cook? &#129379</h2>

<div class="details">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>

<div class="details">
    <h3>Recipes</h3>
    @foreach (var item in Model)
    {
        <div>
            <a href="/Recipes/Details/@item.RecipeID">@Html.DisplayFor(modelItem => item.RecipeName)</a>
        </div>

    }
</div>


<h2>Still Can't Decide? &#127836 </h2>
<p class="details" >Use the Surprise Me feature to decide for you!</p>

<div class="details">
    @foreach (var Recipe in Model)
    {

        <button>
            @Html.ActionLink("Surprise Me ", "Details", new { id = Recipe.RecipeID })
        </button>
    }

</div>
    



